 <div class="content_view">
  <div class="container">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <form>
      <div class="form-group">
        <label class="sr-only" for="nameField">{{inputFieldLabel}}</label>
        <input type="text" class="form-control" id="nameField" placeholder="{{inputFieldLabel}}">
      </div>
    </form>
    <p><a class="btn btn-primary btn-lg save-data"><i class="icon-save"></i> {{buttonText}}</a></p>
    <div class="hidden">
      <p class="more-info">
        {{moreInfo}}
      </p>
      </div>
    </div>
</div>